.page {
  display: block;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  display: block;
  font-family: "Noto serif", "Times New Roman", serif;
}
.recipes {
  display: block;
}
.reservation {
  display: block;
}
.menu {
  display: block;
}
.about {
  display: block;
}
.footer {
  display: block;
}
